	<p>
	<a class="action" href="#" rel="first">first</a> | 
		<a class="action" href="#" rel="prev">prev</a>

		(<span id="count2"></span> / <span id="total2"></span>)
		<a class="action" href="#" rel="next">next</a> | 
		<a class="action" href="#" rel="last">last</a> | show :
		 <select name="perpage">
		 	<option value="1">1 per page</option>
			<option value="2">2 per page</option>
			<option value="5">5 per page</option>
		 </select>
	</p>
		<%= javascript_include_tag 'paginate.js' %>
	